desafios/desafio-3/flows.json
[
    {
        "id": "a6a8fdf6.fe89e",
        "type": "tab",
        "label": "Miband3",
        "disabled": false,
        "info": ""
    },
    {
        "id": "a2cf40db.747d8",
        "type": "subflow",
        "name": "Subflow 2",
        "info": "",
        "in": [],
        "out": []
    },
    {
        "id": "dd42169e.fef438",
        "type": "subflow",
        "name": "Dashboard",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 60,
                "y": 200,
                "wires": [
                    {
                        "id": "ec610fad.52f42"
                    }
                ]
            }
        ],
        "out": []
    },
    {
        "id": "d2dbf53e.bfd438",
        "type": "subflow",
        "name": "Subflow 2 (2)",
        "info": "",
        "in": [],
        "out": []
    },
    {
        "id": "3632085.1bfa8f8",
        "type": "subflow",
        "name": "Dashboard (2)",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 60,
                "y": 200,
                "wires": [
                    {
                        "id": "1cf7573d.6c7809"
                    }
                ]
            }
        ],
        "out": []
    },
    {
        "id": "38ea6d7d.d0b6e2",
        "type": "subflow",
        "name": "Subflow 2 (3)",
        "info": "",
        "in": [],
        "out": []
    },
    {
        "id": "49ba3d5a.42b1f4",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "d111cd60.40bd1",
        "type": "ui_tab",
        "z": "",
        "name": "Default",
        "icon": "dashboard"
    },
    {
        "id": "28a7be84.6682b2",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "a40bb10e.a84d9",
        "type": "ui_group",
        "z": "dd42169e.fef438",
        "name": "Lux",
        "tab": "d111cd60.40bd1",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "f14ed597.7eaef8",
        "type": "ui_group",
        "z": "dd42169e.fef438",
        "name": "Temperature",
        "tab": "d111cd60.40bd1",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "d08e470b.c583c8",
        "type": "ui_group",
        "z": "dd42169e.fef438",
        "name": "Humidity",
        "tab": "d111cd60.40bd1",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "109c459d.754efa",
        "type": "ui_group",
        "z": "3632085.1bfa8f8",
        "name": "Lux",
        "tab": "d111cd60.40bd1",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "f7799170.dcbb2",
        "type": "ui_group",
        "z": "3632085.1bfa8f8",
        "name": "Temperature",
        "tab": "d111cd60.40bd1",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "f62eb223.9ffb5",
        "type": "ui_group",
        "z": "3632085.1bfa8f8",
        "name": "Humidity",
        "tab": "d111cd60.40bd1",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "9e0fdbce.f17bb8",
        "type": "ui_tab",
        "z": "",
        "name": "MiBand",
        "icon": "dashboard"
    },
    {
        "id": "60b65905.0c29f8",
        "type": "ui_group",
        "z": "",
        "name": "Actions",
        "tab": "9e0fdbce.f17bb8",
        "disp": true,
        "width": "24",
        "collapse": false
    },
    {
        "id": "9d32a0c7.7987f",
        "type": "ui_group",
        "z": "",
        "name": "Information",
        "tab": "9e0fdbce.f17bb8",
        "disp": true,
        "width": "24",
        "collapse": false
    },
    {
        "id": "ec610fad.52f42",
        "type": "switch",
        "z": "dd42169e.fef438",
        "name": "check type",
        "property": "payload.type",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "lux",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "temperature",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "humidity",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "button",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 250,
        "y": 200,
        "wires": [
            [
                "32218ce8.48ae24"
            ],
            [
                "89e96e1.daf369"
            ],
            [
                "a1eed672.43e938"
            ],
            [
                "8fc65eed.5372a"
            ]
        ]
    },
    {
        "id": "32218ce8.48ae24",
        "type": "ui_gauge",
        "z": "dd42169e.fef438",
        "name": "",
        "group": "a40bb10e.a84d9",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "lux gauge",
        "label": "units",
        "format": "{{payload.value}}",
        "min": 0,
        "max": "500",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 540,
        "y": 60,
        "wires": []
    },
    {
        "id": "f833760e.48eff8",
        "type": "ui_chart",
        "z": "dd42169e.fef438",
        "name": "",
        "group": "f14ed597.7eaef8",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "temperature chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "20",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "x": 790,
        "y": 140,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "89e96e1.daf369",
        "type": "function",
        "z": "dd42169e.fef438",
        "name": "",
        "func": "msg.payload = msg.payload.value;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 530,
        "y": 140,
        "wires": [
            [
                "f833760e.48eff8"
            ]
        ]
    },
    {
        "id": "a1eed672.43e938",
        "type": "ui_gauge",
        "z": "dd42169e.fef438",
        "name": "",
        "group": "d08e470b.c583c8",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "humidity gauge",
        "label": "units",
        "format": "{{payload.value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#ca3838",
            "#00b500",
            "#e6e600"
        ],
        "seg1": "30",
        "seg2": "70",
        "x": 540,
        "y": 220,
        "wires": []
    },
    {
        "id": "585968d1.1233a8",
        "type": "ui_toast",
        "z": "dd42169e.fef438",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "topic": "",
        "name": "",
        "x": 830,
        "y": 320,
        "wires": []
    },
    {
        "id": "8fc65eed.5372a",
        "type": "change",
        "z": "dd42169e.fef438",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Botão pressionado",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 540,
        "y": 320,
        "wires": [
            [
                "585968d1.1233a8"
            ]
        ]
    },
    {
        "id": "1cf7573d.6c7809",
        "type": "switch",
        "z": "3632085.1bfa8f8",
        "name": "check type",
        "property": "payload.type",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "lux",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "temperature",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "humidity",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "button",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 250,
        "y": 200,
        "wires": [
            [
                "ace0555.f87bda8"
            ],
            [
                "e50100c2.c3f59"
            ],
            [
                "1b37bc1d.31f394"
            ],
            [
                "e24163b.f9fa7a"
            ]
        ]
    },
    {
        "id": "ace0555.f87bda8",
        "type": "ui_gauge",
        "z": "3632085.1bfa8f8",
        "name": "",
        "group": "109c459d.754efa",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "lux gauge",
        "label": "units",
        "format": "{{payload.value}}",
        "min": 0,
        "max": "500",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 540,
        "y": 60,
        "wires": []
    },
    {
        "id": "70c3d5bb.63765c",
        "type": "ui_chart",
        "z": "3632085.1bfa8f8",
        "name": "",
        "group": "f7799170.dcbb2",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "temperature chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "20",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "x": 790,
        "y": 140,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "e50100c2.c3f59",
        "type": "function",
        "z": "3632085.1bfa8f8",
        "name": "",
        "func": "msg.payload = msg.payload.value;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 530,
        "y": 140,
        "wires": [
            [
                "70c3d5bb.63765c"
            ]
        ]
    },
    {
        "id": "1b37bc1d.31f394",
        "type": "ui_gauge",
        "z": "3632085.1bfa8f8",
        "name": "",
        "group": "f62eb223.9ffb5",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "humidity gauge",
        "label": "units",
        "format": "{{payload.value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#ca3838",
            "#00b500",
            "#e6e600"
        ],
        "seg1": "30",
        "seg2": "70",
        "x": 540,
        "y": 220,
        "wires": []
    },
    {
        "id": "7d0f5d2c.d45f64",
        "type": "ui_toast",
        "z": "3632085.1bfa8f8",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "topic": "",
        "name": "",
        "x": 830,
        "y": 320,
        "wires": []
    },
    {
        "id": "e24163b.f9fa7a",
        "type": "change",
        "z": "3632085.1bfa8f8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Botão pressionado",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 540,
        "y": 320,
        "wires": [
            [
                "7d0f5d2c.d45f64"
            ]
        ]
    },
    {
        "id": "945f345a.f22018",
        "type": "miBand",
        "z": "a6a8fdf6.fe89e",
        "name": "miBand",
        "devices": [
            "d694752aa622"
        ],
        "heartRate": true,
        "x": 440,
        "y": 200,
        "wires": [
            [
                "5aae6e58.c6b3d",
                "cd0b0ac4.9ab5b8",
                "95b6c004.92283",
                "f3ea9f56.bb093",
                "6f195784.87e988"
            ]
        ]
    },
    {
        "id": "ecad05da.daaf18",
        "type": "ui_button",
        "z": "a6a8fdf6.fe89e",
        "name": "",
        "group": "60b65905.0c29f8",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Send Notification (Vibrate)",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "{\"service\":\"notification\", \"type\": \"vibrate\"}",
        "payloadType": "json",
        "topic": "",
        "x": 150,
        "y": 54,
        "wires": [
            [
                "945f345a.f22018"
            ]
        ]
    },
    {
        "id": "56a08c5d.4e62a4",
        "type": "ui_button",
        "z": "a6a8fdf6.fe89e",
        "name": "",
        "group": "60b65905.0c29f8",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Send Notification (Phone)",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "{\"service\":\"notification\", \"type\": \"phone\"}",
        "payloadType": "json",
        "topic": "",
        "x": 150,
        "y": 114,
        "wires": [
            [
                "945f345a.f22018"
            ]
        ]
    },
    {
        "id": "54db4fde.585b4",
        "type": "ui_button",
        "z": "a6a8fdf6.fe89e",
        "name": "",
        "group": "60b65905.0c29f8",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Notification disable (Off)",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "{\"service\":\"notification\", \"type\": \"off\"}",
        "payloadType": "json",
        "topic": "",
        "x": 150,
        "y": 174,
        "wires": [
            [
                "945f345a.f22018"
            ]
        ]
    },
    {
        "id": "fb9adbf3.c697d8",
        "type": "ui_button",
        "z": "a6a8fdf6.fe89e",
        "name": "",
        "group": "60b65905.0c29f8",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Get Device Information",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "{\"service\":\"information\"}",
        "payloadType": "json",
        "topic": "",
        "x": 160,
        "y": 234,
        "wires": [
            [
                "945f345a.f22018"
            ]
        ]
    },
    {
        "id": "cc0cf6c6.ce5de8",
        "type": "ui_template",
        "z": "a6a8fdf6.fe89e",
        "group": "9d32a0c7.7987f",
        "name": "Device Information",
        "order": 0,
        "width": "6",
        "height": "5",
        "format": "<h1>Device Information</h1>\n<p>Time: {{ msg.payload.time }}</p>\n<p>Battery: {{ msg.payload.battery.level }}%</p>\n<p>SW Version: {{ msg.payload.sw_ver }}</p>\n<p>HW Version: {{ msg.payload.hw_ver }}</p>\n<p>Serial: {{ msg.payload.serial }}</p>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "templateScope": "local",
        "x": 890,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "83283769.f8db08",
        "type": "ui_template",
        "z": "a6a8fdf6.fe89e",
        "group": "9d32a0c7.7987f",
        "name": "Pedometer",
        "order": 0,
        "width": "6",
        "height": "5",
        "format": "<h1>Pedometer</h1>\n<p>Steps: {{ msg.payload.steps }}</p>\n<p>Distance: {{ msg.payload.distance }} meters</p>\n<p>Calories: {{ msg.payload.calories }}</p>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "templateScope": "local",
        "x": 870,
        "y": 295,
        "wires": [
            []
        ]
    },
    {
        "id": "f596d375.6ed4",
        "type": "ui_button",
        "z": "a6a8fdf6.fe89e",
        "name": "",
        "group": "60b65905.0c29f8",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Pedometer Data",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "{\"service\":\"pedometer\"}",
        "payloadType": "json",
        "topic": "",
        "x": 180,
        "y": 294,
        "wires": [
            [
                "945f345a.f22018"
            ]
        ]
    },
    {
        "id": "5aae6e58.c6b3d",
        "type": "function",
        "z": "a6a8fdf6.fe89e",
        "name": "",
        "func": "if (msg.payload.time)\n    return msg;\nreturn;",
        "outputs": 1,
        "noerr": 0,
        "x": 670,
        "y": 180,
        "wires": [
            [
                "cc0cf6c6.ce5de8"
            ]
        ]
    },
    {
        "id": "cd0b0ac4.9ab5b8",
        "type": "function",
        "z": "a6a8fdf6.fe89e",
        "name": "",
        "func": "if (msg.payload.steps)\n    return msg;\nreturn;",
        "outputs": 1,
        "noerr": 0,
        "x": 670,
        "y": 295,
        "wires": [
            [
                "83283769.f8db08"
            ]
        ]
    },
    {
        "id": "95b6c004.92283",
        "type": "debug",
        "z": "a6a8fdf6.fe89e",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 690,
        "y": 237,
        "wires": []
    },
    {
        "id": "f3ea9f56.bb093",
        "type": "function",
        "z": "a6a8fdf6.fe89e",
        "name": "",
        "func": "if (msg.payload.json_data)\n    return msg;\nreturn;",
        "outputs": 1,
        "noerr": 0,
        "x": 670,
        "y": 120,
        "wires": [
            [
                "f1c3392f.4ce798"
            ]
        ]
    },
    {
        "id": "f1c3392f.4ce798",
        "type": "ui_template",
        "z": "a6a8fdf6.fe89e",
        "group": "9d32a0c7.7987f",
        "name": "Heart Rate",
        "order": 0,
        "width": "6",
        "height": "5",
        "format": "<h1>Heart Rate</h1>\n<p>Heart Rate: {{ msg.payload.json_data.object }}</p>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "templateScope": "local",
        "x": 870,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "5f21b8ba.b11e18",
        "type": "ui_button",
        "z": "a6a8fdf6.fe89e",
        "name": "",
        "group": "60b65905.0c29f8",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Heart Rate",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "{\"service\":\"heartRate\"}",
        "payloadType": "json",
        "topic": "",
        "x": 190,
        "y": 360,
        "wires": [
            [
                "945f345a.f22018"
            ]
        ]
    },
    {
        "id": "6f195784.87e988",
        "type": "debug",
        "z": "a6a8fdf6.fe89e",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 690,
        "y": 60,
        "wires": []
    }
]